/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $white;
  border: none;
  padding: 10px 0;
  
  text-transform: uppercase;
  border-radius: 5px;
  transition:background-color 0.2s ease-in-out;
  
}


.default {
  background-color: $defualt-color;
  &:hover {
    background-color: $defualt-color-light;
  }
}

.error {
  background-color: $error-color;
  &:hover {
    background-color: $error-color-light;
  }
}

.info {
  background-color: $info-color;
  &:hover {
    background-color: $info-color-light;
  }
}

.success {
  background-color: $success-color;
  &:hover {
    background-color: $success-color-light;
  }
}

.warning {
  background-color: $warning-color;
  &:hover {
    background-color: $warning-color-light;
  }
}